/*
  ***************
  START HTML/BODY
  ***************
*/

html, body {
  margin: 0;
}

body {
  margin: inherit;
}

/*
  *************
  END HTML/BODY
  *************
*/

/*
  *****************
  START MAINCONTENT
  *****************
*/

.main-content {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

/*
  ***************
  END MAINCONTENT
  ***************
*/

/*
  ************
  START NAVBAR
  ************
*/

.nav-bar {
  background-color: #222;
  height: 15%;
  color: white;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
}

.account-session-on {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu {
  display: inline-block;
  cursor: pointer;
}

.bar {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.nav-link {
  grid-column: 3/3;
  font-family: 'Bangers', cursive;
  font-size: 25px;
  color: white;
}

.account-session-off {
  display: none;
}

.sign-out-btn {
  background: none;
  border: none;
  font-family: 'Bangers', cursive;
  color: white;
  font-size: 25px;
}

.sign-out-btn c {
  text-decoration: underline;
}

.logo {
  grid-column: 2/2;
  height: auto;
}

.logo b {
  font: 400 19vh "Vibur";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
  font-size: 3.5em;
}

.logo b span {
  animation: blink linear infinite 2s;
}

.logo b span:nth-of-type(2) {
  animation: blink linear infinite 3s;
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

/*
  **********
  END NAVBAR
  **********
*/

/*
  *************
  START SIDENAV
  *************
*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-family: 'Bangers', cursive;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

button {
  cursor: pointer;
}

/*
    ***********
    END SIDENAV
    ***********
  */

/*
  *****************
  START CONTENTPANE
  *****************
*/

.content-pane {
  background: /*url("dark-brick-wall.jpg");*/ #fff;
  height: 100vh;
  width: inherit;
  display: flex;
  flex-direction: column;
  align-content: start;
  justify-content: start;
  align-items: center;
  /*height: calc(100vh - 200px);*/
  overflow-y: scroll;
}

.createComic
{
  position:absolute;
  margin:auto;
  width:50%;
  height:80%;
  z-index: 10;
  display:none;
   background-image: radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, #ffffff 30%, #ffffff 40%, rgba(0, 0, 0, 0) 90%), radial-gradient(ellipse farthest-corner at 0px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 8px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 0px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 40%), radial-gradient(ellipse farthest-corner at 8px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), linear-gradient(40deg, #ffce55 0, #fffc83 30%, #ffffb1 50%, #fffc83 70%, #ffce55 100%);
   background-size: 8px 8px, 8px 8px, 8px 8px, 8px 8px, 8px 8px, 100% 100%;
   border: 5px solid #222;
   box-shadow: 5px 5px 5px black;
   margin-bottom: 30px;
}

.createComic-on
{
  display:flex;
  flex-direction: column;
  align-items: center;
  -webkit-animation: swing-in-top-fwd 1s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
  animation: swing-in-top-fwd 1s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
}

.create-wrapper
{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#createComic-close
{
  background: none;
  color:black;
  font-family: 'Bangers', cursive;
  border:none;
  font-size: 20px;
  width:50px;
  margin-bottom:20px;
  align-self: flex-end;
}

#createComic-close:hover
{
  color:#ddd;
}

.createComic form
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 80%;
}

.createComic input[type="file"] {
    display: none;
}

.custom-file-upload {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 4px grey;
  font-family: 'Happy-Monkey', cursive;
    cursor: pointer;
    color:black;
    text-align: center;
}

.custom-file-upload:hover
{
  background-color: #ccc;
}

textarea
{
  border-radius: 5px;
  font-family: 'Happy-Monkey', cursive;
  box-shadow: 2px 2px 4px grey;
}

#Imgoutput
{
  max-width: 40%;
  max-height: 60%;
  align-self: center;
  transition: 1s all;
}

#Imgoutput:hover
{
  opacity:0.7;
  cursor: pointer;
}

.comicForm
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.modal {
  display: none;
  position: fixed;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
  z-index: 20;
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
/*
  ***************
  END CONTENTPANE
  ***************
*/

/*
  *******************
  START COMIC-GALLERY
  *******************
*/

.comic-gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
}

/*
  ************
  START SUBNAV
  ************
*/

.subnav
{
  width: 100%;
  background: #444;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.create-btn
{
  height:50%;
  overflow-y: hidden;
  width:33.3%;
  display:flex;
  justify-content: flex-end;
  align-content: flex-end;
}

.createBtn:active
{
  outline:none;
}

.createBtn
{
  background:inherit;
  border:none;
  font-size: 20px;
  color:white;
  font-family:'Bangers', cursive;
  height:45%;
  transition: 2s all;
  display:flex;
  flex-direction: column;
}

.create-top
{
  opacity:1;
  border-bottom: none;
  transition: 1s all;
}

.create-bottom
{
  opacity:0;
  color:#ddd;
  transition: 1s all;
}

.create-btn button:hover .create-top{
  transform: translateY(-100%);
}

.create-btn button:hover .create-bottom
{
  opacity:1;
  transform: translateY(-100%);
}

.filter-btn
{
  width:33.3%;
  display:flex;
  flex-direction: row;
  overflow-x: visible;
}

.filter-btn button
{
  background:inherit;
  border:none;
  font-size: 20px;
  color:white;
  font-family:'Bangers', cursive;
  display:flex;
  flex-direction: row;
}

.filterBtn:active
{
  outline:none;
}

.filter-btn span
{
  opacity:0;
  transition: 1s all;
}

.filterBtn:hover #filter-btn
{
  opacity:1;
}

#filter-recent
{
  display:none;
  animation: slide-in 1s ease;
}

#filter-accounts
{
  display:none;
  animation: slide-in 1s ease;
}

 #filter-relevant
 {
   display:none;
   animation: slide-in 1s ease;
 }

.filter-type
{
  display:block !important;
}

.filter-type:active
{
  outline: none;
}

.filter-type:hover
{
  color:#ddd;
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.search-bar
{
  position: sticky;
  top: 0;
  display: flex;
  min-width: 33.3%;
  min-height: 10%;
  justify-content: center;
  align-content: center;
  align-self: center;
  z-index: 1;
  transform: skew(-10deg, 0);
  font-family: 'Happy Monkey', cursive;
}

.search-bar input {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  height: 50%;
  max-height: 38.3px;
  background: #ddd;
  box-shadow: -3px 0 10px -10px black, 0px 3px 10px -10px black, 0px -3px 10px -10px black;
  /*border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;*/
}

.search-btn {
  float: right;
  display: flex;
  justify-content: center;
  padding: 7.5px 15px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  left: -1em;
  border: none;
  height: 90%;
  cursor: pointer;
  box-shadow: 3px 0 10px -10px black, 0px 3px 10px -10px black, 0px -3px 10px -10px black;
  max-height: 38.3px;
  /*border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;*/
}

.search-btn:hover {
  background: #ccc;
}

/*
  **********
  END SUBNAV
  **********
*/

.bookcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  width: 99%;
  height: 31vw;
  margin-top: 10px;
  margin-bottom: 10px;
}

.book {
  background: red;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  width: 18vw;
  height: 30.03vw;
  align-self: end;
  transition: all 0.5s ease-in-out;
}

.book:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 8px black;
}

.bookDetails {
  color: white;
  font-size: 20px;
  position: absolute;
  font-family: 'Happy Monkey', cursive;
  font-weight: bold;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay {
  position: absolute;
  display: none;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: all 1.5s ease;
}

.book:hover .overlay {
  display: flex;
  bottom: 0;
  cursor: pointer;
  height:100%;
  align-items: center;
  justify-content: center;
}

.accountChip-container
{
  background:#222;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  width: 18vw;
  height: 30.03vw;
  align-self: end;
  transition: all 0.5s ease-in-out;
}

.accountChip
{
  align-self: center;
  width: 18vw;
  height: 18vw;
  border-radius: 50%;
  background: red;
  transition: .5s all;
}

.accountChip:hover .overlay {
  display: flex;
  bottom: 0;
  cursor: pointer;
  height:100%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.overlay p
{
  text-align: center;
  font-family: 'Bangers', cursive;
  font-weight: bold;
  font-size: 30px;
}

.accountName
{
  color: white;
  font-size: 20px;
  position: absolute;
  font-family: 'Happy Monkey', cursive;
  font-weight: bold;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.accountChip:hover
{
  transform: scale(1.1);
  box-shadow: 2px 2px 8px black;
}

/*
  *****************
  END COMIC-GALLERY
  *****************
*/

/*
  ******************
  START LOGIN/SIGNUP
  ******************
*/

.login-poster {
  margin-top: 30px;
  overflow: visible;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 40%;
  background-image: radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, #ffffff 30%, #ffffff 40%, rgba(0, 0, 0, 0) 90%), radial-gradient(ellipse farthest-corner at 0px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 8px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 0px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 40%), radial-gradient(ellipse farthest-corner at 8px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), linear-gradient(40deg, #bd2d10 0, #f4502f 30%, #ff6e51 50%, #f4502f 70%, #bd2d10 100%);
  background-size: 8px 8px, 8px 8px, 8px 8px, 8px 8px, 8px 8px, 100% 100%;
  border: 5px solid #222;
  box-shadow: 5px 5px 5px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forgotpass-poster {
  margin-top: 30px;
  overflow: visible;
  padding-top: 30px;
  padding-bottom: 40px;
  width: 40%;
  background-image: radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, #ffffff 30%, #ffffff 40%, rgba(0, 0, 0, 0) 90%), radial-gradient(ellipse farthest-corner at 0px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 8px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 0px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 40%), radial-gradient(ellipse farthest-corner at 8px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), linear-gradient(40deg, #bd2d10 0, #f4502f 30%, #ff6e51 50%, #f4502f 70%, #bd2d10 100%);
  background-size: 8px 8px, 8px 8px, 8px 8px, 8px 8px, 8px 8px, 100% 100%;
  border: 5px solid #222;
  box-shadow: 5px 5px 5px black;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-poster {
  margin-top: 30px;
  background-image: radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, #ffffff 30%, #ffffff 40%, rgba(0, 0, 0, 0) 90%), radial-gradient(ellipse farthest-corner at 0px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 8px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 0px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 40%), radial-gradient(ellipse farthest-corner at 8px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), linear-gradient(40deg, #bd2d10 0, #f4502f 30%, #ff6e51 50%, #f4502f 70%, #bd2d10 100%);
  background-size: 8px 8px, 8px 8px, 8px 8px, 8px 8px, 8px 8px, 100% 100%;
  border: 5px solid #222;
  overflow: visible;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 40%;
  box-shadow: 5px 5px 5px black;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Login/Sign Up Poster Form Styles*/

.login-poster form, .signup-poster form, .forgotpass-poster form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-poster input, .signup-poster input, .forgotpass-poster input, .createComic input, .edit-preferences input{
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 4px grey;
  font-family: 'Happy-Monkey', cursive;
}

.login-poster input:hover, .signup-poster input:hover, .forgotpass-poster input:hover, .createComic input:hover, .edit-preferences input:hover{
  background: #ddd;
  transition-duration: 0.5s;
}

.submit, .recover {
  background-color: white;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 4px grey;
  font-family: 'Happy-Monkey', cursive;
}

.submit:hover {
  background: #ddd;
  transition-duration: 0.5s;
}

/*END Login/Sign Up Poster Form Styles*/

.loginbtn {
  font-weight: bold;
  background: inherit;
  border: none;
  color: blue;
  text-decoration: underline;
}

h2 {
  font-family: 'Bangers', cursive;
  transform: rotate(-10deg) skew(-10deg, 0);
  font-size: 60px;
  text-shadow: 1px 1px yellow;
  text-align: center;
}

.speech-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  width: 39%;
  overflow: hidden;
  padding: 10px;
  position: relative;
  transform: skew(-15deg);
  background: white;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-right: 3px solid;
}

.speech-box:before {
  content: "";
  position: absolute;
  height: 100%;
  left: -0.5em;
  transform: skew(15deg);
  background: white;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  backface-visibility: hidden;
  z-index: 0;
}

.speech-box p {
  z-index: 1;
  transform: skew(0deg);
  font-size: 14px;
  font-family: 'Happy Monkey', cursive;
  margin-top: 4px;
  margin-bottom: 4px;
  align-self: center;
  text-align: center;
}

.forgotpass {
  font-weight: bold;
  background: inherit;
  border: none;
  color: blue;
  text-decoration: underline;
}

.login-poster, .signup-poster, .forgotpass-poster {
  -webkit-animation: swing-in-top-fwd 1s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
  animation: swing-in-top-fwd 1s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
}

.swing-out-top-bck {
  -webkit-animation: swing-out-top-bck 0.45s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
  animation: swing-out-top-bck 0.45s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
}

/* ----------------------------------------------
     * Generated by Animista on 2019-9-21 9:23:1
     * Licensed under FreeBSD License.
     * See http://animista.net/license for more info.
     * w: http://animista.net, t: @cssanimista
     * ---------------------------------------------- */

/**
     * ----------------------------------------
     * animation swing-in-top-fwd
     * ----------------------------------------
     */

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

/* ----------------------------------------------
     * Generated by Animista on 2019-9-21 9:24:16
     * Licensed under FreeBSD License.
     * See http://animista.net/license for more info.
     * w: http://animista.net, t: @cssanimista
     * ---------------------------------------------- */

/**
     * ----------------------------------------
     * animation swing-out-top-bck
     * ----------------------------------------
     */

@-webkit-keyframes swing-out-top-bck {
  0% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
    display: none;
  }
}

@keyframes swing-out-top-bck {
  0% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
    display: none;
  }
}

/*
  ****************
  END LOGIN/SIGNUP
  ****************
*/


/*
  ********************
  *START ACCOUNT PAGE*
  ********************
*/

.account-content
{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height:100%;
  width:100%;
}

.acc-content-pane
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: auto;
  margin:auto;
  height:100%;
}

.accImg
{
  background-image: url("/temp/temp.jpg") !important;
  border-radius: 50%;
  height: 200px;
  width:200px !important;
  padding:0px !important;
  margin-top:30px;
  margin-bottom:30px;
  background-size: cover !important;
  transition: all 0.5s ease-in-out;
}

.ImgEdit
{
  color: white;
  font-size: 12px;
  position: absolute;
  font-family: 'Happy Monkey', cursive;
  font-weight:bold;
  top:50%;
  left:50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.accImg:hover .ImgOverlay
{
 display:flex;
 height: inherit;
 cursor: pointer;
 border-radius: 50%;
}

.ImgOverlay
{
  position: relative;
  display:none;
  background-color: rgba(0,0,0,0.2);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: all 1.5s ease;
}

.subnav-accts
{
  width: 100%;
  background: white;
  color:black !important;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.accName
{
  margin-left:10px;
  font-family: 'Bangers', cursive;
  font-size: 25px;
}

.accsidebar {
position:fixed;
margin: 0;
padding: 0;
width: 0;
background-color: #333;
position: relative;
height: 88%;
overflow-x: hidden;
display:flex;
justify-content: flex-start;
flex-direction: column;
align-items: center;
z-index: 100;
transition:0.5s;
}

.accmenu:hover
{
background: #ccc;
cursor: pointer;
}

.accmenu:active
{
background: #aaa;
}

.bar1
{
width: 5px;
height: 35px;
background-color: black;
margin: 6px 3px;
transition: 0.4s;
}

.tabcontent
{
height:100%;
width:100%;
}

#accComics, #accEdit
{
overflow-y: scroll;
}

/* Sidebar links */
.accsidebar button {
display: block;
color: white;
background: inherit;
border:none;
padding-left: 0;
padding-right: 0;
padding-top:30px;
padding-bottom:30px;
text-decoration: none;
width:100%;
font-family: 'Bangers', cursive;
font-size: 20px;
}

.accsidebar button:focus
{
outline:none;
background-color: white;
color: black;
}

/* Active/current link */
.accsidebar button.focus {
background-color: white;
color: black;
}

/* Links on mouse-over */
.AcPageBtn:hover {
background-color: #555;
color: white;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
.accsidebar {
  width: 100%;
  height: auto;
  position: relative;
}
.accsidebar button {float: left;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
.accsidebar button {
  text-align: center;
  float: none;
}
}

/*
****************
END ACCOUNT PAGE
****************
*/

/*
  ******************
  START PAGE GALLERY
  ******************
*/

hr
{
  width:80%;
  border-top: 3px solid #222;
}

  .subnav-page
  {
    width: 100%;
    background: white;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

.page-gallery
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
}

.page-container
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  align-self: center;
  width: 99%;
  height: 31vw;
  margin-top: 10px;
  margin-bottom: 10px;
}

.comic-page
{
  background: grey;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  width: 18vw;
  height: 30.03vw;
  align-self: end;
  transition: all 0.5s ease-in-out;

}

.comic-page:hover
{
  transform: scale(1.1);
  box-shadow: 2px 2px 8px black;
}

.comic-page:hover .overlay
{
  display: flex;
  bottom: 0;
  cursor: pointer;
  height:100%;
  align-items: center;
  justify-content: center;
}

.choose-template
{
  position:absolute;
  margin:auto;
  width:50%;
  z-index: 10;
  display:none;
   background-image: radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, #ffffff 30%, #ffffff 40%, rgba(0, 0, 0, 0) 90%), radial-gradient(ellipse farthest-corner at 0px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 8px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 0px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 40%), radial-gradient(ellipse farthest-corner at 8px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), linear-gradient(40deg, #ffce55 0, #fffc83 30%, #ffffb1 50%, #fffc83 70%, #ffce55 100%);
   background-size: 8px 8px, 8px 8px, 8px 8px, 8px 8px, 8px 8px, 100% 100%;
   border: 5px solid #222;
   box-shadow: 5px 5px 5px black;
   overflow-y: visible;
   margin-bottom: 30px;
}

.popup-on
{
  display:flex !important;
  flex-direction: column;
  align-items: center;
  -webkit-animation: swing-in-top-fwd 1s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
  animation: swing-in-top-fwd 1s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
  height:80%;
}

.choice-wheel
{
  height:80%;
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.choice-slide
{
  width: 25%;
  height:80%;
  display:none;
  transition: all 0.5s;
}

.next-slide
{
  order: 3;
  display:block;
  opacity:0.5;
}

.current-slide
{
  order: 2;
  display:block;
  transform: scale(1.1);
}

.previous-slide
{
  order:1;
  display:block;
  opacity:0.5;
}

.previous-slide, .next-slide, .current-slide
{
  margin: 7px;
}

.previous-slide:hover, .next-slide:hover
{
  cursor:pointer;
}

.edit-frame
{
  position:absolute;
  margin:auto;
  width:50%;
  z-index: 10;
  display:none;
   background-image: radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, #ffffff 30%, #ffffff 40%, rgba(0, 0, 0, 0) 90%), radial-gradient(ellipse farthest-corner at 0px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 8px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 0px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 40%), radial-gradient(ellipse farthest-corner at 8px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), linear-gradient(40deg, #ffce55 0, #fffc83 30%, #ffffb1 50%, #fffc83 70%, #ffce55 100%);
   background-size: 8px 8px, 8px 8px, 8px 8px, 8px 8px, 8px 8px, 100% 100%;
   border: 5px solid #222;
   box-shadow: 5px 5px 5px black;
   overflow-y: visible;
   margin-bottom: 30px;
}

.edit-frame-wrap
{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width:100%;
  height:85%;
}

.edit-canvas
{
  height:100%;
  width:70%;
}

.edit-upload-form
{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:100%;
  width:30%;
}

.text-box-container
{
  height:60%;
  width:100%;
  background: gold;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.confirm-edit
{
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 4px grey;
  font-family: 'Happy-Monkey', cursive;
  cursor: pointer;
  color:black;
  text-align: center;
  margin-bottom:10px;
}

.confirm-edit:hover
{
  background-color: #ccc;
}

.edit-preferences
{
  position:absolute;
  margin:auto;
  width:50%;
  z-index: 10;
  display:none;
   background-image: radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, #ffffff 30%, #ffffff 40%, rgba(0, 0, 0, 0) 90%), radial-gradient(ellipse farthest-corner at 0px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 8px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 0px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 40%), radial-gradient(ellipse farthest-corner at 8px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), linear-gradient(40deg, #ffce55 0, #fffc83 30%, #ffffb1 50%, #fffc83 70%, #ffce55 100%);
   background-size: 8px 8px, 8px 8px, 8px 8px, 8px 8px, 8px 8px, 100% 100%;
   border: 5px solid #222;
   box-shadow: 5px 5px 5px black;
   overflow-y: visible;
   margin-bottom: 30px;
}

.edit-preferences form
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 80%;
}

.edit-preferences input[type="file"] {
    display: none;
}

.preference-wrapper
{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#Imgoutput
{
  margin: 10px;
}

.delete-confirm
{
  background: white;
  position:absolute;
  margin:auto;
  height:50%;
  width:50%;
  z-index: 10;
  display:none;
  box-shadow: 5px 5px 5px grey;
}

.delete-confirm-on
{
  margin-top: 50px;
  display:flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  -webkit-animation: swing-in-top-fwd 1s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
  animation: swing-in-top-fwd 1s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
}

.confirm-wrap
{
  display:flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  justify-content: center;
  width:100%;
  height:80%;
}

.confirm-btn
{
  margin:5px;
  background: #ddd;
  border: none;
  border-radius: 5px;
  width:40%;
  height:20%;
  font-family: 'Bangers',cursive;
  font-size: 20px;
  box-shadow: 3px 3px 5px lightgrey;
}

.confirm-btn:hover
{
  background: #bbb;
}

.confirm-btn:active
{
  outline:none;
  background: #888;
}

h3
{
  font-family: 'Bangers', cursive;
  font-size: 30px;
}

.page-open
{
  display: none;
  position: fixed;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
  z-index: 20;
}

.page-open-on
{
  display:block;
}

.page-wrap
{
  display:flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  width:100%;
  height:85%;
}

.page
{
  background:grey;
  width:90%;
  height:100%;
}

.page-turn-left
{
  color:white;
  font-weight: 900;
  font-size: 40px;
  margin-right:10px;
}

.page-turn-right
{
  color:white;
  font-weight: bold;
  font-size: 40px;
  margin-left: 10px;
}

.page-turn-left:hover
{
  cursor: pointer;
}

.page-turn-right:hover
{
  cursor: pointer;
}
/*
  ****************
  END PAGE GALLERY
  ****************
*/
