/*
  ***************
  START HTML/BODY
  ***************
*/

    html,body
    {
      margin: 0;
    }
    body
    {
      margin: inherit;
    }

/*
  *************
  END HTML/BODY
  *************
*/

/*
  *****************
  START MAINCONTENT
  *****************
*/

    .main-content
    {
      display: flex;
      flex-direction: column;
      position:relative;
      height: 100%;
    }

/*
  ***************
  END MAINCONTENT
  ***************
*/

/*
  ************
  START NAVBAR
  ************
*/

    .nav-bar
    {
      background-color: #222;
      height:15%;
      color:white;
      box-sizing: border-box;
      display: grid;
      grid-template-columns: 30% 30% 30%;
      justify-content: center;
      align-content: center;
      align-items: center;
      justify-items:center;
    }

    .account-session-on
    {
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .menu
    {
      display: inline-block;
      cursor: pointer;
    }

    .bar1, .bar2, .bar3
   {
      width: 35px;
      height: 5px;
      background-color: white;
      margin: 6px 0;
      transition: 0.4s;
    }
    .nav-link
    {
      grid-column: 3/3;
      font-family:'Bangers',cursive;
      font-size: 25px;
      color: white;
    }

    .account-session-off
    {
      display:none;
    }

    .sign-out-btn
    {
      background: none;
      border:none;
      font-family: 'Bangers', cursive;
      color:white;
      font-size:25px;
    }

    .sign-out-btn c
    {
      text-decoration: underline;
    }

    .logo
    {
      grid-column: 2/2;
      height: auto;
    }

    .logo b
    {
      font: 400 19vh "Vibur";
      color: #fee;
      text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
      font-size: 3.5em;
    }
    .logo b span
    {
      animation: blink linear infinite 2s;
    }
    .logo b span:nth-of-type(2)
    {
      animation: blink linear infinite 3s;
    }
    @keyframes blink
    {
      78% {
        color: inherit;
        text-shadow: inherit;
      }
      79%{
         color: #333;
      }
      80% {

        text-shadow: none;
      }
      81% {
        color: inherit;
        text-shadow: inherit;
      }
      82% {
        color: #333;
        text-shadow: none;
      }
      83% {
        color: inherit;
        text-shadow: inherit;
      }
      92% {
        color: #333;
        text-shadow: none;
      }
      92.5% {
        color: inherit;
        text-shadow: inherit;
      }
    }

/*
  **********
  END NAVBAR
  **********
*/

/*
  *************
  START SIDENAV
  *************
*/

    .sidenav
    {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }

    .sidenav a
     {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
      font-family: 'Bangers', cursive;
    }

    .sidenav a:hover
    {
      color: #f1f1f1;
    }

    .sidenav .closebtn
    {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }

    @media screen and (max-height: 450px)
   {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }

    button
    {
      cursor:pointer;
    }

  /*
    ***********
    END SIDENAV
    ***********
  */

/*
  *****************
  START CONTENTPANE
  *****************
*/
    .content-pane
    {
      background: /*url("dark-brick-wall.jpg");*/ white;
      height:100vh;
      width:inherit;
      display:flex;
      flex-direction: column;
      align-content: start;
      justify-content: start;
      align-items: center;
      height: calc(100vh -200px);
      overflow-y: hidden;
    }

/*
  ***************
  END CONTENTPANE
  ***************
*/

/*
  *******************
  START COMIC-GALLERY
  *******************
*/

    .comic-content-pane
    {
      width:100%;
      overflow-y: scroll;
    }

    .comic-gallery
    {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
      width:100%;
    }

    .search-bar
    {
      position: sticky;
      top:0;
      display:flex;
      min-width: 40%;
      min-height:10%;
      justify-content: center;
      align-content: center;
      align-self:center;
      z-index: 1;
      transform: skew(-10deg, 0);
      font-family: 'Happy Monkey', cursive;
    }

    .search-bar input[type=text]
    {
      padding: 6px;
      margin-top: 8px;
      font-size: 17px;
      border: none;
      height:90%;
      max-height: 38.3px;
      background: #ddd;
      box-shadow: -3px 0 10px -10px black, 0px 3px 10px -10px black, 0px -3px 10px -10px black;
      /*border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;*/
    }

    .search-btn
    {
      float: right;
      display:flex;
      justify-content: center;
      padding: 10px 15px;
      margin-top: 8px;
      margin-right: 16px;
      background: #ddd;
      font-size: 17px;
      left:-1em;
      border: none;
      height: 90%;
      cursor: pointer;
      box-shadow: 3px 0 10px -10px black, 0px 3px 10px -10px black, 0px -3px 10px -10px black;
      max-height: 38.3px;
      /*border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;*/
    }

    .search-btn:hover
    {
      background: #ccc;
    }

    .bookcontainer
    {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-content: center;
      align-self: center;
      width:99%;
      height:31vw;
      margin-top:10px;
      margin-bottom:10px;
    }

    .book
    {
      background: red;
      display:flex;
      margin-left:10px;
      margin-right:10px;
      width: 18vw;
      height:30.03vw;
      align-self: end;
      transition: all 0.5s ease-in-out;
    }

    .book:hover
    {
      transform: scale(1.1);
      box-shadow: 2px 2px 8px black;
    }

    .bookDetails
    {
      color: white;
      font-size: 20px;
      position: absolute;
      font-family: 'Happy Monkey', cursive;
      font-weight:bold;
      top:50%;
      left:50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }

    .overlay
    {
      position: absolute;
      display:none;
      bottom:100%;
      left: 0;
      right: 0;
      background-color: rgba(0,0,0,0.2);
      overflow: hidden;
      width: 100%;
      height:0;
      transition: all 1.5s ease;
    }

    .book:hover .overlay
    {
      display:inline;
      bottom:0;
      height: 100%;
      cursor: pointer;
    }

/*
  *****************
  END COMIC-GALLERY
  *****************
*/

/*
  ******************
  START LOGIN/SIGNUP
  ******************
*/

    .login-poster
    {
      margin-top: 30px;
      overflow:visible;
      padding-top:20px;
      padding-bottom:20px;
      width: 40%;
      background-image: radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, #ffffff 30%, #ffffff 40%, rgba(0, 0, 0, 0) 90%), radial-gradient(ellipse farthest-corner at 0px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 8px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 0px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 40%), radial-gradient(ellipse farthest-corner at 8px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), linear-gradient(40deg, #bd2d10 0, #f4502f 30%, #ff6e51 50%, #f4502f 70%, #bd2d10 100%);
      background-size: 8px 8px, 8px 8px, 8px 8px, 8px 8px, 8px 8px, 100% 100%;
      border: 5px solid #222;
      box-shadow: 5px 5px 5px black;
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .forgotpass-poster
    {
      margin-top: 30px;
      overflow:visible;
      padding-top:30px;
      padding-bottom:40px;
      width: 40%;
      background-image: radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, #ffffff 30%, #ffffff 40%, rgba(0, 0, 0, 0) 90%), radial-gradient(ellipse farthest-corner at 0px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 8px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 0px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 40%), radial-gradient(ellipse farthest-corner at 8px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), linear-gradient(40deg, #bd2d10 0, #f4502f 30%, #ff6e51 50%, #f4502f 70%, #bd2d10 100%);
      background-size: 8px 8px, 8px 8px, 8px 8px, 8px 8px, 8px 8px, 100% 100%;
      border: 5px solid #222;
      box-shadow: 5px 5px 5px black;
      display:none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .signup-poster
    {
      margin-top: 30px;
      background-image: radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, #ffffff 30%, #ffffff 40%, rgba(0, 0, 0, 0) 90%), radial-gradient(ellipse farthest-corner at 0px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 8px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 0px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 40%), radial-gradient(ellipse farthest-corner at 8px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), linear-gradient(40deg, #bd2d10 0, #f4502f 30%, #ff6e51 50%, #f4502f 70%, #bd2d10 100%);
      background-size: 8px 8px, 8px 8px, 8px 8px, 8px 8px, 8px 8px, 100% 100%;
      border: 5px solid #222;
      overflow:visible;
      padding-top:20px;
      padding-bottom:20px;
      width: 40%;
      box-shadow: 5px 5px 5px black;
      display:none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    /*Login/Sign Up Poster Form Styles*/
    .login-poster form, .signup-poster form, .forgotpass-poster form
    {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    .login-poster input[type=text], .signup-poster input[type=text], .forgotpass-poster input[type=text]
    {
      background-color:white;
      padding:5px;
      border-radius: 5px;
      border:none;
      box-shadow: 2px 2px 4px grey;
      font-family: 'Happy-Monkey',cursive;
    }

    .login-poster input[type=text]:hover, .signup-poster input[type=text]:hover, .forgotpass-poster input[type=text]:hover
    {
      background:#ddd;
      transition-duration: 0.5s;
    }

    .submit, .recover
    {
      background-color:white;
      border-radius: 5px;
      border:none;
      box-shadow: 2px 2px 4px grey;
      font-family: 'Happy-Monkey',cursive;
    }

    .submit:hover
    {
      background:#ddd;
      transition-duration: 0.5s;
    }

    /*END Login/Sign Up Poster Form Styles*/

    .loginbtn
    {
      font-weight: bold;
      background: inherit;
      border:none;
      color: blue;
      text-decoration: underline;
    }

    h2
    {
      font-family: 'Bangers', cursive;
       transform: rotate(-10deg) skew(-10deg, 0);
      font-size: 60px;
      text-shadow: 1px 1px yellow;
      text-align: center;
    }

    .speech-box
    {
            display:flex;
            justify-content: center;
            flex-direction: column;
            align-content: center;
            width: 39%;
            overflow:hidden;
            padding: 10px;
            position: relative;
            transform: skew(-15deg);
            background: white;
            box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
            z-index: 1;
            border-right: 3px solid;
    }
    .speech-box:before
    {
              content: "";
              position: absolute;
              height: 100%;
              width: 4em;
              left: -0.5em;
              transform: skew(15deg);
              background: white;
              border-left: 1px solid rgba(0, 0, 0, 0.05);
              -webkit-backface-visibility: hidden;
              z-index: 0;
    }

    .speech-box p
    {
      z-index: 1;
      transform: skew(0deg);
      font-size: 14px;
      font-family: 'Happy Monkey', cursive;
      margin-top: 4px;
      margin-bottom: 4px;
      align-self: center;
      text-align: center;
    }

    .forgotpass
    {
      font-weight: bold;
      background: inherit;
      border:none;
      color: blue;
      text-decoration: underline;
    }

    .login-poster, .signup-poster, .forgotpass-poster
    {
    	-webkit-animation: swing-in-top-fwd 1.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
    	        animation: swing-in-top-fwd 1.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
    }

    .swing-out-top-bck
    {
    	-webkit-animation: swing-out-top-bck 0.45s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
    	        animation: swing-out-top-bck 0.45s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
    }

    /* ----------------------------------------------
     * Generated by Animista on 2019-9-21 9:23:1
     * Licensed under FreeBSD License.
     * See http://animista.net/license for more info.
     * w: http://animista.net, t: @cssanimista
     * ---------------------------------------------- */

    /**
     * ----------------------------------------
     * animation swing-in-top-fwd
     * ----------------------------------------
     */
    @-webkit-keyframes swing-in-top-fwd {
      0% {
        -webkit-transform: rotateX(-100deg);
                transform: rotateX(-100deg);
        -webkit-transform-origin: top;
                transform-origin: top;
        opacity: 0;
      }
      100% {
        -webkit-transform: rotateX(0deg);
                transform: rotateX(0deg);
        -webkit-transform-origin: top;
                transform-origin: top;
        opacity: 1;
      }
    }
    @keyframes swing-in-top-fwd {
      0% {
        -webkit-transform: rotateX(-100deg);
                transform: rotateX(-100deg);
        -webkit-transform-origin: top;
                transform-origin: top;
        opacity: 0;
      }
      100% {
        -webkit-transform: rotateX(0deg);
                transform: rotateX(0deg);
        -webkit-transform-origin: top;
                transform-origin: top;
        opacity: 1;
      }
    }

    /* ----------------------------------------------
     * Generated by Animista on 2019-9-21 9:24:16
     * Licensed under FreeBSD License.
     * See http://animista.net/license for more info.
     * w: http://animista.net, t: @cssanimista
     * ---------------------------------------------- */

    /**
     * ----------------------------------------
     * animation swing-out-top-bck
     * ----------------------------------------
     */
    @-webkit-keyframes swing-out-top-bck {
      0% {
        -webkit-transform: rotateX(0deg);
                transform: rotateX(0deg);
        -webkit-transform-origin: top;
                transform-origin: top;
        opacity: 1;
      }
      100% {
        -webkit-transform: rotateX(-100deg);
                transform: rotateX(-100deg);
        -webkit-transform-origin: top;
                transform-origin: top;
        opacity: 0;
        display:none;
      }
    }
    @keyframes swing-out-top-bck {
      0% {
        -webkit-transform: rotateX(0deg);
                transform: rotateX(0deg);
        -webkit-transform-origin: top;
                transform-origin: top;
        opacity: 1;
      }
      100% {
        -webkit-transform: rotateX(-100deg);
                transform: rotateX(-100deg);
        -webkit-transform-origin: top;
                transform-origin: top;
        opacity: 0;
        display:none;
      }
    }

/*
  ****************
  END LOGIN/SIGNUP
  ****************
*/

/*
  ********************
  *START ACCOUNT PAGE*
  ********************
*/

  .account-content
  {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height:100%;
    width:100%;
  }

  .acc-content-pane
  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: auto;
    margin:auto;
    height:100%;
  }

  .accImg
  {
    background-image: url("temp.jpg") !important;
    border-radius: 50%;
    height: 200px;
    width:200px !important;
    padding:0px !important;
    margin-top:30px;
    margin-bottom:30px;
    background-size: cover !important;
    transition: all 0.5s ease-in-out;
  }

  .ImgEdit
  {
    color: white;
    font-size: 12px;
    position: absolute;
    font-family: 'Happy Monkey', cursive;
    font-weight:bold;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .accImg:hover .ImgOverlay
 {
   display:flex;
   height: inherit;
   cursor: pointer;
   border-radius: 50%;
 }

  .ImgOverlay
  {
    position: relative;
    display:none;
    background-color: rgba(0,0,0,0.2);
    overflow: hidden;
    width: 100%;
    height:0;
    transition: all 1.5s ease;
  }

  .accName
  {
    margin-left:10px;
    font-family: 'Bangers', cursive;
    font-size: 25px;
  }

  .accsidebar {
  position:fixed;
  margin: 0;
  padding: 0;
  width: 0;
  background-color: #333;
  position: relative;
  height: 88%;
  overflow-x: hidden;
  display:flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  transition:0.5s;
}

.accmenu:hover
{
  background: #ccc;
  cursor: pointer;
}

.accmenu:active
{
  background: #aaa;
}

.bar11, .bar21, .bar31
{
  width: 5px;
  height: 35px;
  background-color: black;
  margin: 6px 3px;
  transition: 0.4s;
}

.tabcontent
{
  height:100%;
}

#accComics, #accEdit
{
  overflow-y: scroll;
}

/* Sidebar links */
.accsidebar button {
  display: block;
  color: white;
  background: inherit;
  border:none;
  padding-left: 0;
  padding-right: 0;
  padding-top:30px;
  padding-bottom:30px;
  text-decoration: none;
  width:100%;
  font-family: 'Bangers', cursive;
  font-size: 20px;
}

.accsidebar button:focus
{
  outline:none;
  background-color: white;
  color: black;
}

/* Active/current link */
.accsidebar button.focus {
  background-color: white;
  color: black;
}

/* Links on mouse-over */
.AcPageBtn:hover {
  background-color: #555;
  color: white;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .accsidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .accsidebar button {float: left;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .accsidebar button {
    text-align: center;
    float: none;
  }
}

/*
  ****************
  END ACCOUNT PAGE
  ****************
*/
